@tailwind base;
@tailwind components;
@tailwind utilities;

.bacground-color{
    background-color: #000000;
}
.primary-bg-color{
    background-color: #00909E;
}
.primary-color{
    color: #00909E;
}
.icon {
    color: #00909E;
  }