@tailwind base;
@tailwind components;
@tailwind utilities;

.bacground-color{
    background-color: #000000;
}
.view-bg-color{
    background-color: #0B0A0A;
}
.primary-bg-color{
    background-color: #00909E;
}
.primary-color{
    color: #00909E;
}
.icon {
    color: #00909E;
}
nav div a.active {
    color: #00909E;
}
nav div a:hover{
    color: #00909E;
}

.bg-image{
    background-image: url('/public/bg_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.custome-font {
    font-family: "Damion";
}
.card-width{
    width: 32%;
}
.main-container::-webkit-scrollbar{
    display: none;
}
.main-container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.textarea{
    min-height: 50px;
}